@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/** FONT: Montserrat **/

*{
    padding:0px;
    margin:0px;
}

/** NAVBAR **/
.navbar {
    background-color:rgb(37, 3, 88);
    width:100%;
    height:5vh;
    position:fixed;
    padding-top:15px;
    padding-left:15px;
}

/** NAVBAR BUTTONS **/
.navbarbuttons {
    font-family:'Montserrat';
    display:inline;
    color:white;
    padding:10px;
}

.navbarbuttons a {
    text-decoration:none;
    color:white;
}

/** NAVBAR BUTTONS ANIMATION **/
.navbarbuttons a:hover {
    font-weight:bold;
    transition-duration:0.3s;
}
